// ### Primary

// - Pale blue: hsl(225, 100%, 94%)
// - Bright blue: hsl(245, 75%, 52%)

// ### Neutral

// - Very pale blue: hsl(225, 100%, 98%)
// - Desaturated blue: hsl(224, 23%, 55%)
// - Dark blue: hsl(223, 47%, 23%)

//Variable Declarations
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
$primary-color__pale: hsl(225, 100%, 94%);
$primary-color__bright: hsl(245, 75%, 52%);
$neutral-color__pale: hsl(225, 100%, 98%);
$neutral-color__desaturated: hsl(224, 23%, 55%);
$neutral-color__dark: hsl(223, 47%, 23%);
$font-stack: "Red Hat Display", sans-serif;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
$shadow-inset: 0.5px 15px 30px;

//Global styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color__pale;
  font-family: $font-stack;
  font-size: $font-md;
}
p {
  color: $neutral-color__desaturated;
  opacity: 1.2;
  text-align: center;
  padding: 1rem 3rem;

  font-size: $font-sm;
}
a {
  color: $neutral-color__dark;
}
//Mixins
@mixin flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-container {
  @include flex-container;
  flex-direction: column;
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-position: -600px -150px;
  background-size: cover;
}
.card-container {
  @include flex-container;
  background-color: $neutral-color__pale;
  flex-direction: column;
  border-radius: 20px;
  height: 700px;
  max-width: 600px;
  box-shadow: $shadow-inset $neutral-color__desaturated;
  margin: 6rem 1rem;

  background-image: url(/images/illustration-hero.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
// .card-details {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-items: flex-end;
//   margin: 3rem 1rem;
// }

.card-header {
  @include flex-container;
  flex-direction: column;
  line-height: 1.5rem;
  margin-top: 6rem;
  max-width: 400px;
  padding-top: 2.5rem;
  // padding: 0.5rem 2rem;
  // min-height: 10vh;

  h2 {
    margin-top: 2rem;
    color: $neutral-color__dark;
    font-weight: 900;
    font-size: $font-lg;
  }
}

.order-info {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: $neutral-color__pale;
  box-shadow: $shadow-inset $primary-color__pale;
  border-radius: 10px;
  width: 90%;
  height: 100px;
  font-size: $font-sm;

  h3 {
    color: $neutral-color__dark;
  }
  .order-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    .order-type__price {
      padding: 0;
    }
  }

  .change-btn {
    border: none;
    background-color: $neutral-color__pale;
  }
}
.order-actions {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 3rem;

  .action-btn {
    border: none;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 10px;
    font-weight: 900;
    font-family: inherit;
    cursor: pointer;
    background-color: $primary-color__bright;
    color: $neutral-color__pale;
    transition: 0.4s all linear;
    box-shadow: $shadow-inset $neutral-color__desaturated;
  }
  .action-btn:hover {
    background-color: $primary-color__pale;
    color: $neutral-color__desaturated;
  }
}

.attribution {
  font-size: $font-sm;
  text-align: center;
  max-width: 60%;
  margin-bottom: 1rem;
}
